.profile {
  display: flex;
  display: grid;
  grid-template-areas: "img desc addb";
  margin: clamp(40px, ((880px - 100%)/13.2), 42px) auto clamp(30px, 7.4vw, 50px);
  width: clamp(282px, 80vw, 880px);
  align-items: center;
  grid-template-columns: min-content min-content;
  row-gap: 36px;
}
@media screen and (max-width: 889px) {
  .profile {
    grid-template-areas:
      "img desc . "
      "addb addb addb";
  }
}
@media screen and (max-width: 676px) {
  .profile {
    grid-template-areas:
      "img"
      "desc"
      "addb";
    justify-items: center;
  }
}
