.button_submit {
  margin: 48px auto 36px;
  color: white;
  width: clamp(238px, 28vw, 358px);
  height: 50px;
  border-radius: 2px;
  background: black;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(14px, 1.4vw, 18px);
  line-height: clamp(17px, 1.72vw, 22px);
  text-align: center;
  border:0;
}
