.popup__gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
  pointer-events: none;
  transform: scale(0);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
