.profile__button-add {
  margin: clamp(0px, (900px - 100vw), 6px) 0 0 auto;
  grid-area: addb;
  width: 150px;
  height: 50px;
  border-width: 2px;
  border-radius: 2px;
  background: transparent url("../../../assets/icons/Add_Button.svg")
    center/clamp(16px, 1.72vw, 22px) no-repeat;
  transition: opacity 0.2s ease-in-out;
  border: 2px solid #fff;
}

@media screen and (max-width: 889px) {
  .profile__button-add  {
    justify-self: center;
    width: clamp(282px, 80vw, 880px);
  }
}
