.popup__form-in {
  width: clamp(238px, 28vw, 358px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
