.popup__form {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  padding: 0;
  margin: clamp(54px, 395px - 100%, 75px) auto 0;
  width: clamp(238px, 28vw, 358px);
  row-gap: 30px;
}
