.card__like-button {
  color: black;
  background: transparent url(../../../assets/icons/Vector.svg) center no-repeat;
  min-width: 21px;
  height: 19px;
  border: 0;
}

.card__like-button:hover {
  opacity: 0.5;
}
