.form__input-error {
  position: absolute;
  margin-top: 5px;
  visibility: hidden;
  width: clamp(238px, 28vw, 358px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
}
