.card__overflow-tooltip {
  opacity: 0;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: fit-content;
  height: fit-content;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  color: black;
  transition: opacity 0.5s ease-in-out;
}

.card__text:hover ~ .card__overflow-tooltip {
  opacity: 0.8;
}
