.popup__form-input {
  position: relative;
  width: clamp(238px, 28vw, 358px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: (12px, 1.1vw, 14px);
  line-height: (15px 1.33vw 17px);
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-input:invalid {
  border-bottom: #ff0000;
}
