.profile__name {
  grid-area: profile-n;
  margin: 0;
  font-weight: 500;
  font-size: clamp(24px, 3.3vw, 42px);
  line-height: clamp(27px, 3.75vw, 48px);
  width: max-content;
  max-width: clamp(310px, 50vw, 500px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__name:hover {
  overflow: visible;
  white-space: normal;
  height: auto; /* just added this line */
}
