@import url("../vendor/normalize.css");
@import url("../fonts/Inter_Web/inter.css");
@import url("../blocks/page/page.css");
@import url("../blocks/page/__wrap/page__wrap.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/button/button.css");
@import url("../blocks/button/_type/button_type_close.css");
@import url("../blocks/button/_type/button_type_submit.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__photo/profile__photo.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__job/profile__job.css");
@import url("../blocks/profile/__button-add/profile__button-add.css");
@import url("../blocks/profile/__button-edit/profile__button-edit.css");
@import url("../blocks/locations/locations.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__footer/card__footer.css");
@import url("../blocks/card/__image/card__image.css");
@import url("../blocks/card/__like-button/card__like-button.css");
@import url("../blocks/card/__like-button/_active/card__like-button_active.css");
@import url("../blocks/card/__text/card__text.css");
@import url("../blocks/card/__overflow-tooltip/card__overflow-tooltip.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__window/popup__window.css");
@import url("../blocks/popup/__window/popup__window_add.css");
@import url("../blocks/popup/__window/popup__window_img.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__form/popup__form.css");
@import url("../blocks/popup/__form-in/popup__form-in.css");
@import url("../blocks/popup/_active/popup_active.css");
@import url("../blocks/popup/__img/popup__img.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__about/footer__about.css");
