@import url("../vendor/normalize.css");
@import url("../fonts/Inter\ Web/inter.css");
@import url("../blocks/page/page.css");
@import url("../blocks/page/__wrap/page__wrap.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__sep-line/header__sep-line.css");
@import url("../blocks/button/button.css");
@import url("../blocks/button/_add/button_add.css");
@import url("../blocks/button/_edit/button_edit.css");
@import url("../blocks/button/_submit/button_submit.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/profile__photo/profile__photo.css");
@import url("../blocks/profile/profile__description/profile__description.css");
@import url("../blocks/profile/profile__name/profile__name.css");
@import url("../blocks/profile/profile__job/profile__job.css");
@import url("../blocks/locations/locations.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__footer/card__footer.css");
@import url("../blocks/card/__icon/card__icon.css");
@import url("../blocks/card/__text/card__text.css");
@import url("../blocks/edit-window/edit-window.css");
@import url("../blocks/edit-window/__button-close/button_close.css");
@import url("../blocks/edit-window/__title/edit-window__title.css");
@import url("../blocks/edit-window/__form/edit-window__form.css");
@import url("../blocks/edit-window/__name/edit-window__name.css");
@import url("../blocks/edit-window/__job/edit-window__job.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_active/popup_active.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__about/footer__about.css");
