.popup__window-img {
  visibility: collapse;
  display: flex;
  flex-direction: column;
  position: relative;
  background:none;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
  transition:display .5s ease-in-out;
}
