.profile__about {
  grid-area: profile-s;
  margin: clamp(14px, 1.25vw, 16px) 0 36px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(14px, 1.42vw, 18px);
  line-height: clamp(17px, 1.35vw, 22px);
}