.navigation-arrow_right {
  position: absolute;
  top: calc(50% - 100px);
  right: clamp(-100px, -5.6vw, -18px);
  width: 0px;
  height: 0px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: clamp(10px, 3.7vw, 40px) solid white;
  border-right:unset;
  transition: opacity 0.2s ease-in-out, border-left-width 0.2s ease-in-out;
}

.navigation-arrow_right:hover {
  opacity: 0.8;
}
