.footer {
  margin: 0 auto;
  width: clamp(282px, 68.8%, 880px);
  padding: 0 auto 0 0;
  padding-bottom: clamp(36px, 5%, 60px);
}

@media screen and (max-width: 676px) {
  .footer {
    margin: 0 auto;
  }
}
