.button_add {
  margin: 0 0 0 auto;
  grid-area: addb;
  width: 150px;
  height: 50px;
  border-width: 2px;
  border-radius: 2px;
  background: black url("../../../assets/icons/Add\ Button.svg")
    center/clamp(16px, 1.72vw, 22px) no-repeat;
  transition: opacity 0.2s ease-in-out;
  border: 2px solid #fff;
}

@media screen and (max-width: 889px) {
  .button_add {
    justify-self: center;
    width: clamp(282px, 80vw, 880px);
  }
}
