.popup__title {
  width: clamp(238px, 28vw, 358px);
  margin: 34px auto 0;
  font-style: normal;
  font-weight: 900;
  font-size: clamp(18px, 1.9vw, 24px);
  line-height: clamp(22px, 2.23vw, 29px);
  color: black;
}
