.popup__window_add {
  display: none;
  flex-direction: column;
  position: relative;
  width: clamp(282px, 35vw, 430px);
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition:display .5s ease-in-out;
}
